@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

body {
  font-family: system-ui, Arial;
  margin: 0;
  padding: 24px;
  background: #f6f7fb;
}